@page "/admin/UrlNamePlaceholder/add"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject IPageHelper PageHelper

<PageTitle>Pile Type Add</PageTitle>

@if (PileType is not null)
{
    <PileTypeForm Busy="Busy" 
                 PileType="PileType" 
                 IsAdd="true"
                 CancelRequest="Cancel"
                 ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}

@if (Success)
{
    <br />
    <div class="alert alert-success">The Pile Type was successfully added.</div>
}

@if (Error)
{
    <br />
    <div class="alert alert-danger">Failed to add the Pile Type (@ErrorMessage).</div>
}

@code {
    private PileType? PileType { get; set; }

    // True when an asynchronous operation is running.
    private bool Busy;

    // True after successful add.
    private bool Success;

    // True when an error occurred.
    private bool Error;

    private string ErrorMessage = string.Empty;

    // Start with fresh PileType.
    protected override void OnInitialized()
    {
        PileType = new();
    }

    // Respond to a forms submission.
    // success is True when valid.
    private async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            Success = false;
            Error = false;
            return;
        }

        Busy = true;

        using var context = DbFactory.CreateDbContext();

        // This just attaches.
        if (PileType is not null)
        {
            context.TableNamePlaceholder?.Add(PileType);
        }

        try
        {
            await context.SaveChangesAsync();
            Success = true;
            Error = false;

            Navigation.NavigateTo($"/admin/UrlNamePlaceholder/view/{PileType?.Id}");
        }
        catch (Exception ex)
        {
            Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    // Back to list.
    private void Cancel() => Navigation.NavigateTo($"/admin/UrlNamePlaceholder/{PageHelper.Page}");
}
