@inject IGameFilters Filters

@if (Column == Filters.SortColumn)
{
    <span>@SortSymbol</span>
}
else
{
    <span>&nbsp;</span>
}

@code {
    // Sets which GameFilterColumns this indicator is for.
    [Parameter]
    public GameFilterColumns Column { get; set; }

    // The symbol to render.
    private string SortSymbol => Filters.SortAscending ? "🔼" : "🔽";
}
