@inject ISuitFilters Filters

@if (CurrentSuit is not null)
{
    <div class="row Suit-detail">
        <div class="col-2 text-right">
            <a title="Edit" href="admin/rank/edit/@CurrentSuit.Id" style="text-decoration:none">
                &nbsp;📝&nbsp;
            </a>
            @if (CanDelete)
            {
                <span @onclick="DeleteRequestAsync"
                      title="Delete" class="clickable red">❌</span>
            }
            else
            {
                <span>&nbsp;</span>
            }
            &nbsp;
        </div>

        <div class="col-3">
            <a href="@ViewLink" alt="View Details"
               title="View Details">
                @CurrentSuit.Id
            </a>
        </div>

        @if (!DeleteConfirmation)
        {
            @* RowColumnCodePlaceholder *@
        }
        else
        {
            <div class="col-9">
                <DeletePrompt Confirmation="ConfirmAsync" />
            </div>
        }
    </div>
}

@code {
    private Suit _currentSuit = new Suit();

    // Suit being rendered.
    [Parameter]
    public Suit CurrentSuit
    {
        get => _currentSuit;
        set
        {
            if (value is not null && !value.Equals(_currentSuit))
            {
                _currentSuit = value;
                DeleteConfirmation = false;
            }
        }
    }

    // Event to raise when a HumanNamePlaceholder delete is requested.
    [Parameter]
    public EventCallback DeleteSuit { get; set; }

    // Overall wrapper of functionality.
    [CascadingParameter]
    public GridWrapper? Wrapper { get; set; }

    // Returns True if conditions for delete are met.
    private bool CanDelete =>
        !DeleteConfirmation && (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true || Wrapper?.DeleteRequestId.Equals(CurrentSuit?.Id) == true);

    // Navigate to view.
    private string ViewLink => $"admin/rank/view/{CurrentSuit?.Id}";

    // Confirm the delete.
    private bool DeleteConfirmation { get; set; }

    // Called based on confirmation.
    // confirmed: True when confirmed.
    private async Task ConfirmAsync(bool confirmed)
    {
        if (confirmed)
        {
            await DeleteAsync();
        }
        else
        {
            DeleteConfirmation = false;

            if (Wrapper is not null)
            {
                await Wrapper.DeleteRequested.InvokeAsync(Guid.Empty);
            }
        }
    }

    /// Set delete to true.
    private async Task DeleteRequestAsync()
    {
        if (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true)
        {
            DeleteConfirmation = true;
            await Wrapper.DeleteRequested.InvokeAsync(CurrentSuit.Id);
        }
    }

    // Deletes the Suit.
    private Task DeleteAsync() => DeleteSuit.InvokeAsync(this);
}
